rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /inspections/{allPaths=**} {
      allow read, write: if true;
    }
    match /appraisals/{allPaths=**} {
      allow read, write: if true;
    }
  }
}
